body{
    margin:0;
    padding:0;
    width: 100%;


}
.navbar{
    padding:10px 0px;
    display:flex;
    align-items: center;
    width:10%;
    justify-content: space-between;
    margin-left:750px;

}
.navbar a{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
    color:black;
    font-size:13px;
}
.container-top{
display:inline-block;
padding:0px;
margin-left: 250px;
margin-right: 350px;
position:relative;
}
.container-top>img{
    width:100%;
}
.container-top h1{
    text-align: center;
    position:absolute;
    width:39%;
    top:50%;
    left:30%;
    bottom:75%;
    color:white;
    
}
.container-top button{
    width:19%;
    top:75%;
    right:40%;
    position:absolute;
}
.contact-element{
    display:inline-block;
    justify-content: center;
    width:54.4%;
    margin-left:250px;
    margin-right:350px;
    border:2px groove grey;
}
.contact-element h3{
    text-align: left;
    padding:0;
}

.main{
    display:flex;
    flex-direction: column;
    padding:30px;
    margin-left: 250px;
    margin-right: 350px;
    border:2px groove grey;
}
.main h3{
    margin:0px;
}
.main h1{
    text-align: left;
}
.main ul{
    list-style: none;
    margin:10px;
    text-align: center;
}
.main-skills{

}
/*.container-top h1{
    display:flex;
    flex-direction: column-reverse;
}
.container-top h2{

}
.container-top address{
    font-style:italic;
    font-family:sans-serif;
    font-weight: lighter;  
}*/